.nyc_output/
/dist/
.vscode/
/_attic/
/build/
coverage/
node_modules*/

# no log files
*.log
pnpm-lock.yaml

# no npm
package-lock.json
npm-shrinkwrap.json

# Idea/PhpStorm
.idea/*
!.idea/inspectionProfiles/
